*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #78A083;
}


nav{
    overflow: auto;
    padding: 1rem;
    background-color:#35374B;
    margin:0;
}
nav h2{
    float: left;
}
nav ul{
    float: right;
}


main {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
ul {
    list-style-type:none;
    padding:1rem;
    text-align: right;
    
}

li{
    display: inline-block;
    margin-inline: 1rem;
}

li a{
    color: rgb(241, 81, 81);
    text-decoration: none;
}

li a:hover, li a:focus{
    color: brown;
    text-decoration:underline;
}

.block{
    width:100px;
    height: 100px;
    background-color: black;
    color:whitesmoke;
    padding: 1rem;
    break-inside: avoid;
    
}

.box{
    column-count: 4;
    column-width: 100px;
    
    padding: 1rem;
}
.box section{
    overflow: auto;
}
.box section:hover{
    background-color:#50727B;
}
.left{
    float:left;
    margin-right: 1rem;
}

.right{
    float:right;
    margin-left: 1rem;
}

.clear{
    clear: both;
}

section{
    background-color:#344955;
    padding: 0.5rem;
    border: 2px dashed #78A083;
    display: flow-root;
}
.second{
    justify-content: center;
}
.columns{
    font-size: 2rem;
    column-count: 3;
    column-width: 250px;
    column-rule: 3px solid #78A083;
    column-gap: 3rem;
}

.columns h2{
    margin-top: 0;
    background-color: cadetblue;
    color: aqua;
    padding: 1rem;
    break-inside: avoid;
}

.qoute{
    font-size: 3rem;
    text-align: center;
    color: rgb(241, 81, 81);
    column-span: all;
    white-space: nowrap;
}

